.patient-details-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
}

.details-widget {
  background-color: var(--surface-color);
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-top: 1rem;
}

.details-widget p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
}

.details-widget p:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}