name: Deploy Frontend to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build Job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'
          cache-dependency-path: healthcare-appointment-frontend/package-lock.json

      - name: Install dependencies
        working-directory: ./healthcare-appointment-frontend
        run: npm ci

      - name: Build
        working-directory: ./healthcare-appointment-frontend
        run: npm run build -- --base=/CareConnect-Project/

      # This uploads the 'dist' folder to GitHub's server
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./healthcare-appointment-frontend/dist

  # Deploy Job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4